.manage-header {
  margin-bottom: 25px;
}

.manage-header h1 {
  color: #0f172a;
}

.manage-header p {
  color: #64748b;
}

.filter-section {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.search-input,
.subject-filter {
  padding: 12px;
  border: 1px solid #dbeafe;
  border-radius: 10px;
  min-width: 250px;
  font-size: 15px;
}

.tests-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.test-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.test-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.test-card h2 {
  color: #2563eb;
  margin-bottom: 15px;
}

.test-card p {
  margin-bottom: 10px;

  color: #334155;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.view-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.no-tests {
  font-size: 20px;
  text-align: center;
  padding: 40px;
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
  }

  .search-input,
  .subject-filter {
    width: 100%;
  }

  .btn-group {
    flex-direction: column;
  }
}